.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  margin: 0;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;;
  background-color:transparent;
  border:2px solid #4ECCA3;
}

.btn:hover {
  color: rgb(4, 250, 168);
  border-color: #4ECCA3;
  box-shadow:0 0 8px 0 #4ECCA3;
}


input[type=text]{
  font-family: 'Indie Flower', cursive;
  border:2px solid #4ECCA3;
  border-radius:4px;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
  color: #4ECCA3;;
  font-size: 1rem;
}

input[type=text]:focus{
  border-color: #4ECCA3;
  box-shadow:0 0 8px 0 #4ECCA3;
}

.input-name {
  margin-bottom: 40px;
}